/* Тут пиши основные стили */
nav {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:24px;
    color:#333333;
    text-align:left;
    line-height:36px;
}

#blog {
    color:#d0021b;
}

nav li { display: inline; }

ul {
    background-color: #EEEEEE;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}


@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
    nav {
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        font-size:24px;
        color:#333333;
        text-align:left;
        line-height:36px;
    }

    #blog {
        color:#d0021b;
    }

    nav li { display: table; }

    ul {
        background-color: #EEEEEE;
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}